<div class="container">
  <h2 class="text-center"><%= @studio.name %>のレビュー新規作成</h2>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="mt-5">
      <%= form_with model: [@studio, @studio_review], url: studio_studio_reviews_path, method: :post do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td><%= f.label :rate, '評価' %></td>
              <td><small id="studio-post-raty"></small></td>
              <script>
              document.addEventListener("turbolinks:load", function() { //  turbolinksをリロードする(ratyがページリロードをしなければ表示されないため)
                let studio_elem = document.querySelector('#studio-post-raty'); // htmlのid属性から取得する
                studio_elem.textContent = ''; //  ratyの星が増え続けるバグ回避
                let studio_opt = { // ratyのオプションを指定
                    starOn: '<%= asset_path('star-on.png') %>', // 黄色の星をassets/imagesフォルダから読み込む
                    starOff: '<%= asset_path('star-off.png') %>', // 白色の星をassets/imagesフォルダから読み込む
                    scoreName: 'studio_review[rate]', // rateカラムの指定
                };
                raty(studio_elem,studio_opt); // raty.jsへ変数を渡す
              });
              </script>
            </tr>
            <tr>
              <td><%= f.label :use_id, '使用用途', class: "col-form-label" %></td>
              <td><%= f.select :use_id, Use.all.map { |use| [use.name, use.id] }, {}, { class: "custom-select w-50" } %></td>
            </tr>
            <tr>
              <td><%= f.label :number_studio, '使用人数', class: "col-form-label" %></td>
              <td><%= f.select :number_studio, *[1..10], {}, { class: "custom-select w-50" } %></td>
            </tr>
            <tr>
              <td><%= f.label :comment, 'レビュー本文(400文字以内)', class: "col-form-label" %></td>
              <td class="review-textarea"><%= f.text_area :comment, placeholder: "スタジオ利用時の感想を入力してください",  class: "form-control", style: "height: 100%;" %></td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <%= f.submit 'レビューを投稿する', class: "btn btn-success" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>