<%= render 'layouts/main_visual' %>
<%= render 'layouts/flash' %>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-3">
      <%= render 'layouts/side' %>
      <% unless admin_signed_in? || end_user_signed_in? %>
        <%= link_to 'ゲストログイン（ユーザー機能）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
      <% end %>
      <% unless end_user_signed_in? || admin_signed_in? %>
        <%= link_to 'ゲストログイン（管理者機能）', admin_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
      <% end  %>
    </div>
    <div class="col-md-9 mx-auto">
      <!-- ゲストログイン用 -->
      <h2 class="text-center">スタジオ一覧(最新8件)</h2>
      <div class="d-flex flex-wrap justify-content-around">
      <% @studios.each do |studio| %>
        <div class="mt-5">
          <%= link_to studio_path(studio) do %>
            <%= image_tag studio.get_studio_image(200,200), class: "bg-wrapper" %>
          <% end %>
        <h3 class="text-center mt-3 page-title"><%= studio.name %></h3>
        </div>
      <% end %>
      </div>
  </div>
</div>