<%= render 'layouts/main_visual' %>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-3">
      <%= render 'layouts/side' %>
    </div>
    <div class="col-md-9 mx-auto">
      <h2 class="text-center">スタジオ一覧(最新8件)</h2>
      <div class="d-flex flex-wrap justify-content-around">
      <% @studios.each do |studio| %>
        <div class="mt-5">
          <%= link_to studio_path(studio) do %>
            <%= image_tag studio.get_studio_image(200,200), class: "bg-wrapper" %>
          <% end %>
        <h3 class="text-center mt-3 page-title"><%= studio.name %></h3>
        </div>
      <% end %>
      </div>
  </div>
</div>