<table class="table table-borderless">
  <tbody>
    <tr>
      <td><%= f.label :name, '店舗名', class: "col-form-label" %></td>
      <td><%= f.text_field :name, placeholder: 'music store', class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :telephone_number, '店舗の電話番号', class: "col-form-label" %></td>
      <td><%= f.text_field :telephone_number, placeholder: '08012345678', class: "form-control w-50" %></td>
    </tr>
    <tr>
      <td><%= f.label :post_code, '店舗の郵便番号', class: "col-form-label" %></td>
      <td><%= f.text_field :post_code, placeholder: '123-4567', class: "form-control w-50" %></td>
    </tr>
    <tr>
      <td><%= f.label :address, '店舗の住所', class: "col-form-label" %></td>
      <td><%= f.text_field :address, placeholder: '東京都渋谷区佐々木神園町0-0', class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :store_image, '店舗の写真', class: "col-form-label" %></td>
      <td><%= f.file_field :store_image, accept: "image/*", class: "form-control-file" %></td>
    </tr>
    <tr>
      <td><%= f.label :introduction, '店舗の説明文', class: "col-form-label" %></td>
      <td class="review-textarea"><%= f.text_area :introduction, placeholder: '店舗の説明を入力してください', class: "form-control", style: "height: 100%;" %></td>
    </tr>
  </tbody>
</table>
<% if local_assigns[:edit_flag].present? %>
<div class="text-center">
  <%= f.submit '変更を保存する', class: "btn btn-success" %>
</div>
<% else %>
<div class="text-center">
  <%= f.submit '新規登録', class: "btn btn-success" %>
</div>
<% end %>