<table class="table table-borderless">
  <tbody>
    <tr>
      <td><%= f.label :name, '店舗名' %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :telephone_number, '店舗の電話番号' %></td>
      <td><%= f.text_field :telephone_number %></td>
    </tr>
    <tr>
      <td><%= f.label :store_image, '店舗の写真' %></td>
      <td><%= f.file_field :store_image, accept: "image/*" %></td>
    </tr>
    <tr>
      <td><%= f.label :introduction, '店舗の説明文' %></td>
      <td><%= f.text_area :introduction %></td>
    </tr>
  </tbody>
</table>
<% if local_assigns[:edit_flag].present? %>
<div>
  <%= f.submit '変更を保存する' %>
</div>
<% else %>
<div>
  <%= f.submit '新規登録' %>
</div>
<% end %>