<div class="d-flex flex-wrap justify-content-around">
  <% if stores.present? %>
    <% stores.each do |store| %>
    <div class="mt-5">
      <%= link_to store_path(store) do %>
        <%= image_tag store.get_store_image(245,245), class: "bg-wrapper" %>
      <% end %>
      <h3 class="text-center mt-3 page-title">
        <p><%= store.name %></p>
        <%= link_to associated_result_path(word: store.name, studio_id: store.studios.ids), style: "font-size: 12px;" do %>
          <%= store.name %>のスタジオ一覧
        <% end %>
      </h3>
    </div>
    <% end %>
  <% else %>
    <p class="text-center mt-3">検索結果はありませんでした。</p>
  <% end %>
</div>