<!-- 店舗の詳細 -->
<div class="container">
  <div class="mt-5 pb-5 border-bottom">
    <h2 class="text-center"><%= @store.name %>のスタジオ一覧</h2>
    <!-- スタジオ一覧表示 -->
    <div class="mt-3">
      <table class="table text-center table-bordered">
        <thead class="bg-light">
          <tr>
            <th>スタジオ名</th>
            <th>個人料金</th>
            <th>3名料金</th>
            <th>4名料金</th>
            <th>使用用途</th>
          </tr>
        </thead>
        <tbody>
          <% @store.studios.each do |studio| %>
          <tr>
            <td><%= link_to studio.name, studio_path(studio) %></td>
            <td><%= studio.personal_price.to_s(:delimited) %>円</td>
            <td><%= studio.three_price.to_s(:delimited) %>円</td>
            <td><%= studio.more_price.to_s(:delimited) %>円</td>
            <td><%= link_to studio.use.name, associated_result_path(word: studio.use.name, studio_id: studio.use.studios.ids) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="mt-5 border-bottom pb-5">
    <h2 class="text-center"><%= @store.name %>の詳細</h2>
    <div class="mt-5 row">
      <div class="col-md-6 text-center">
        <%= image_tag @store.get_store_image(300,250), class: "rounded" %>
      </div>
      <div class="col-md-6 mx-auto">
        <table class="table table-bordered" style="width: 570px;">
          <tbody>
            <tr>
              <td class="col-md-6">店舗名</td>
              <td><%= @store.name %></td>
            </tr>
            <%= render 'average_rate', store: @store %>
            <tr>
              <td>店舗の電話番号</td>
              <td><%= @store.telephone_number %></td>
            </tr>
            <tr>
              <td>郵便番号</td>
              <td><%= @store.post_code %></td>
            </tr>
            <tr>
              <td>店舗の住所</td>
              <td><%= @store.address %></td>
            </tr>
          </tbody>
        </table>
        <!-- 管理者の場合編集、削除のリンク表示 -->
        <div class="mt-3">
          <% if admin_signed_in? %>
            <div class="d-flex justify-content-start">
              <%= link_to '編集する', edit_store_path(@store), class: "btn btn-primary" %>
              <%= link_to '削除する', store_path(@store), method: :delete, data: { confirm: "店舗を削除してもよろしいですか？" }, class: "btn btn-danger ml-5" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5 pb-5 border-bottom">
    <h2 class="text-center">店舗の説明文</h2>
    <p class="mt-3 mx-auto" style="width: 60%;"><%= @store.introduction %></p>
  </div>
  <!-- レビュー一覧 -->
  <div class="mt-5">
    <%= render 'admin/store_reviews/index', store: @store %>
  </div>
  <!-- ユーザーがログインしていれば、レビューの新規投稿リンクを表示 -->
  <% if end_user_signed_in? %>
  <div class="text-center mb-3">
    <%= link_to '店舗レビューを作成する', new_store_store_review_path(@store), class: "btn btn-success" %>
  </div>
  <% end %>
</div>