<!-- 店舗の詳細 -->
<div class="container">
  <div class="pb-5 border-bottom">
    <h2 class="text-center"><%= @store.name %>のスタジオ一覧</h2>
    <p>料金が安い順
      <%= link_to '個人料金', store_path(sort_studio_price: 'personal_price ASC') %> | <%= link_to '３名料金', store_path(sort_studio_price: 'three_price ASC') %> | <%= link_to '4名以上の料金', store_path(sort_studio_price: 'more_price ASC') %>
    </p>
    <!-- スタジオ一覧表示 -->
    <%= render 'admin/studios/index', studios: @sort_studio_price %>
  </div>
  <div class="mt-5 border-bottom pb-5">
    <h2 class="text-center"><%= @store.name %>の詳細</h2>
    <div class="mt-5 row">
      <div class="col-md-6 text-center">
        <%= image_tag @store.get_store_image(300,250), class: "rounded" %>
      </div>
      <div class="col-md-6 mx-auto">
        <table class="table table-bordered" style="width: 570px;">
          <tbody>
            <tr>
              <td class="col-md-6">店舗名</td>
              <td><%= @store.name %></td>
            </tr>
            <%= render 'average_rate', store: @store %>
            <tr>
              <td>店舗の電話番号</td>
              <td><%= @store.telephone_number %></td>
            </tr>
            <tr>
              <td>郵便番号</td>
              <td><%= @store.post_code %></td>
            </tr>
            <tr>
              <td>店舗の住所</td>
              <td><%= @store.address %></td>
            </tr>
          </tbody>
        </table>
        <!-- 管理者の場合編集、削除のリンク表示 -->
        <div class="mt-3">
          <% if admin_signed_in? %>
            <div class="d-flex justify-content-start">
              <%= link_to '編集する', edit_store_path(@store), class: "btn btn-primary" %>
              <%= link_to '削除する', store_path(@store), method: :delete, data: { confirm: "店舗を削除してもよろしいですか？" }, class: "btn btn-danger ml-5" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5 pb-5 border-bottom">
    <h2 class="text-center">店舗の説明文</h2>
    <p class="mt-3 mx-auto" style="width: 60%;"><%= @store.introduction %></p>
  </div>
  <!-- レビュー一覧 -->
  <div class="mt-5">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto">
        <h3><%= @store.store_reviews.count %>件のレビュー</h3>
        <p class="mt-3">
          <%= link_to '新着順', store_path(sort_store_review: "created_at DESC") %> | <%= link_to '評価の高い順', store_path(sort_store_review: "rate DESC") %> | <%= link_to '評価の低い順', store_path(sort_store_review: "rate ASC") %>
        </p>
        <%= render 'admin/store_reviews/index', store_review: @sort_store_review %>
      </div>
    </div>
  </div>
  <!-- ユーザーがログインしていれば、レビューの新規投稿リンクを表示 -->
  <% if end_user_signed_in? %>
    <div class="text-center mt-3 mb-3">
      <%= link_to '店舗レビューを作成する', new_store_store_review_path(@store), class: "btn btn-success" %>
    </div>
  <% end %>
  <% unless admin_signed_in? || end_user_signed_in? %>
    <div class="text-center mt-3 mb-3">
      <%= link_to '新規登録してレビューを作成する', new_end_user_registration_path, class: "btn btn-success" %>
    </div>
  <% end %>
</div>