<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/uses/side_use', uses: @uses %>
      <%= render 'admin/stores/side_store', stores: @stores %>
    </div>
    <div class="col-md-9 text-center">
      <% if end_user_signed_in? || admin_signed_in? %>
      <h2>使用用途追加</h2>
      <!-- 用途新規登録用フォーム -->
      <div class="row mt-3">
        <div class="col-md-8 mx-auto">
          <%= form_with model: @use, url:uses_path, method: :post do |f| %>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td><%= f.label :name, '用途名', class: "col-form-label" %></td>
                  <td><%= f.text_field :name, class: "form-control" %></td>
                  <td><%= f.submit '新規登録', class: "btn btn-success" %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
      <% end %>
      <!-- 用途一覧表示 -->
      <h2>使用用途一覧</h2>
      <div class="row mt-3">
        <div class="col-md-6 mx-auto">
          <table class="table table-borderless">
            <tbody>
              <% @uses.each do |use| %>
              <tr>
                <td><%= use.name %></td>
                <td><%= link_to '編集する', edit_use_path(use) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>