<div class="container">
  <div class="text-center">
    <!-- blankメソッドでwordに文字列が含まれてるか判定する -->
    <% if word.blank? %>
      <h2>スタジオ一覧
        <% if admin_signed_in? %>
          <%= link_to '新規作成はこちら', new_studio_path, class: "btn btn-success" %>
        <% end %>
      </h2>
    <% else %>
      <h2 class="d-inline-block page-titile">
      <strong class="font-weight-normal"><%= word %>のスタジオ一覧</strong>
      <!-- 管理者であれば新規作成用のボタンを表示する -->
      <% if admin_signed_in? %>
        <%= link_to '新規作成はこちら', new_studio_path, class: "btn btn-success" %>
      <% end %>
      </h2>
    <% end %>
  </div>
  <!-- スタジオ一覧表示 -->
  <div class="mt-5">
    <table class="table table-borderless pc-only text-center">
      <thead>
        <tr>
          <th>スタジオ名</th>
          <th>店舗名</th>
          <th>用途</th>
          <th>個人料金</th>
          <th>3名料金</th>
          <th>4名料金</th>
        </tr>
      </thead>
      <tbody>
        <% studios.each do |studio| %>
        <tr>
          <td><%= link_to studio.name, studio_path(studio) %></td>
          <td><%= studio.store.name %></td>
          <td><%= studio.use.name %></td>
          <td><%= studio.personal_price %></td>
          <td><%= studio.three_price %></td>
          <td><%= studio.more_price %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    
    <!-- レスポンシブ用（仮）
    <table class="table table-borderless sp-only">
      <tbody>
        <%# studios.each do |studio| %>
        <tr>
          <td>スタジオ名</td>
          <td><%#= link_to studio.name, studio_path(studio) %></td>
        </tr>
        <tr>
          <td>店舗名</td>
          <td><%#= studio.store.name %></td>
        </tr>
        <tr>
          <td>用途</td>
          <td><%#= studio.use.name %></td>
        </tr>
        <tr>
          <td>個人料金</td>
          <td><%#= studio.personal_price %></td>
        </tr>
        <tr>
          <td>3名料金</td>
          <td><%#= studio.three_price %></td>
        </tr>
        <tr>
          <td>4名料金</td>
          <td><%#= studio.more_price %></td>
        </tr>
        <%# end %>
      </tbody>
    </table>
    -->
  </div>
</div>
