<div class="container">
  <!--表題-->
  <h1>スタジオ新規登録</h1>
  <!--スタジオ新規登録フォーム-->
  <%= form_with model: @studio, url: studios_path, method: :post do |f| %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td><%= f.label :name, 'スタジオ名' %></td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td><%= f.label :store_id, '店舗名' %></td>
          <td><%= f.select :store_id, @store %></td>
        </tr>
        <tr>
          <td><%= f.label :use_id, '用途名' %></td>
          <td><%= f.select :use_id, @use %></td>
        </tr>
        <tr>
          <td><%= f.label :introduction, '説明' %></td>
          <td><%= f.text_area :introduction %></td>
        </tr>
        <tr>
          <td><%= f.label :personal_price, '個人料金' %></td>
          <td><%= f.number_field :personal_price %></td>
        </tr>
        <tr>
          <td><%= f.label :three_price, '3名料金' %></td>
          <td><%= f.number_field :three_price %></td>
        </tr>
        <tr>
          <td><%= f.label :more_price, '４名以上の料金' %></td>
          <td><%= f.number_field :more_price %></td>
        </tr>
      </tbody>
    </table>
    <div>
      <%= f.submit '新規登録' %>
    </div>
  <% end %>
</div>