<div class="container">
  <h2>スタジオの詳細ページ</h2>
  <div>
    <%= image_tag @studio.get_studio_image, size: "200x200", class: "rounded" %>
  </div>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <td>スタジオ名</td>
        <td><%= @studio.name %></td>
      </tr>
      <tr>
        <td>店舗名</td>
        <td><%= @studio.store.name %></td>
      </tr>
      <tr>
        <td>用途</td>
        <td><%= @studio.use.name %></td>
      </tr>
      <tr>
        <td>スタジオの特徴</td>
        <td><%= @studio.introduction %></td>
      </tr>
      <tr>
        <td>個人料金</td>
        <td><%= @studio.personal_price %></td>
      </tr>
      <tr>
        <td>3名料金</td>
        <td><%= @studio.three_price %></td>
      </tr>
      <tr>
        <td>４名以上の料金</td>
        <td><%= @studio.more_price %></td>
      </tr>
    </tbody>
  </table>
  <% if admin_signed_in? %>
    <%= link_to '編集する', edit_studio_path(@studio), class: "btn btn-success" %>
    <%= link_to '削除する', studio_path(@studio), method: :delete, data: { confirm: "スタジオを削除してもよろしいですか？" }, class: "btn btn-danger" %>
  <% end %>
</div>