<!--登録された店舗レビュー一覧を表示-->
<div class="row mt-5">
  <div class="col-md-8 mx-auto">
    <h3><%= store.store_reviews.count %>件のレビュー</h3>
    <% store.store_reviews.each do |store_review| %>
        <%= image_tag store_review.end_user.profile_image, size: "40x40", class: "rounded-circle" %>
        <small id="show_raty<%= store_review.id %>"></small>
        <script>
        document.addEventListener("turbolinks:load", function() {
            let show = document.querySelector('#show_raty<%= store_review.id %>');
            show.textContent = '';
            let val = {
                starOn: '<%= asset_path('star-on.png') %>',
                starOff: '<%= asset_path('star-off.png') %>',
                readOnly: true,
                score: <%= store_review.rate %>,
            };
            raty(show,val);
        });
        </script>
        <%= store_review.end_user.name %>
        <%= store_review.comment %>
        <% if current_end_user == store_review.end_user || admin_signed_in? %>
          <%= link_to '削除する', store_store_review_path(store_review.store, store_review), method: :delete, class: "btn btn-danger" %>
        <% end %>
    <% end %>
  </div>
</div>