<div class="container">
  <div class="row mt-5">
    <!-- 表題 -->
    <div class="col-md-11 ml-auto">
      <h2 class="page-title">ログインページ</h2>
    </div>
    <!-- 管理者ログイン用フォーム -->
    <div class="col-md-10 ml-auto mt-5">
      <h3 class="page-title">会員の方はこちらからログイン</h3>
    </div>
    <div class="col-md-6 mx-auto mt-5">
      <%= form_with model: @end_user, url: new_end_user_session_path do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td><%= f.label :email, 'メールアドレス', class: "col-form-label" %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :password, 'パスワード', class: "col-form-label" %></td>
              <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <%= f.submit "ログイン", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
    <!-- 管理者新規登録用のページ -->
    <div class="col-md-10 ml-auto mt-5">
      <h3 class="page-title">会員登録がお済みでない方</h3>
      <small class="pl-5 pt-3"><%= render "public/shared/links" %>から新規登録をお願いします</small>
    </div>
  </div>
</div>